<header class="header">

  <!-- ESQUERDA -->
  <div class="header__left">
    <p-select [options]="context.institutions()" optionLabel="institution.nome" optionValue="institution.id"
      placeholder="Selecione uma faculdade" class="w-full md:w-56" [checkmark]="true" (onChange)="changeActiveInstitution($event.value)"/>
  </div>

  <!-- DIREITA -->
  <div class="header__right">

    <!-- BUSCA -->
    <div class="search">
      <input pInputText class="p-inputtext" placeholder="Buscar..."/>
    </div>

    <!-- AÇÕES -->
    <button class="icon-btn">🔔</button>
    <button class="icon-btn">✉️</button>

    <!-- PERFIL -->
    <p-avatar [label]="getInitials()" class="mr-2" />

  </div>

</header>