.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: relative;
  z-index: 2;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--p-inputtext-border-color);
  background-color: transparent;
}

.icon-btn:hover {
  border-color: #6C5CE7;
}

:host ::ng-deep .p-avatar {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg,
      #1E1E2F,
      #6C5CE7);
  cursor: pointer;
}

@media (max-width: 768px) {
  .search input {
    display: none;
  }
}