<aside class="sidebar">
  <div class="sidebar__logo">
    <img src="images/logos/hed-white-logo.png">
  </div>

  <!-- MENU PRINCIPAL -->
  <nav class="sidebar__menu">
    @for (item of menuItems; track item.link) {
      <a
        [routerLink]="item.link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <app-icon [name]="item.icon"></app-icon>
        {{ item.label }}
      </a>
    }
  </nav>

  <!-- RODAPÉ -->
  <div class="sidebar__footer">
    <a
      [routerLink]="'/configuracoes'"
      routerLinkActive="active"
    >
      <app-icon [name]="'settings'"></app-icon>
      Configurações
    </a>
  </div>
</aside>